.container {
  color: #ffd701;
  
}

.content {
  background: #040944;
  width: 50vw;
  height: 50vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.renderizer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 1rem;
}
